.DS_Store
# macOS system files
**/.DS_Store
*.DS_Store

Data/
Figures/Excluded
Data/.DS_Store
.DS_Store
Excludedscripts
Lekesmetric_test.py
migration_table.csv
Revision.combined.jpeg
Revision.combined.pdf
Revision.timeseries.jpeg
Revision.timeseries.pdf
Revision.tree.jpeg
Revision.tree.pdf
Revision/dengue_denv2_genome.json
Revision/dengue_denv2_genome.nexus
Revision/F112_GISAID.fasta
Revision/F112_GISAIDMETA.tsv
Revision/F112_metadata.tsv
Revision/newMCCTree_F1112_Markov.mcc.tree
Scripts/__pycache__/baltic.cpython-313.pyc
Scripts/__pycache__/epidemic_in_texas.cpython-313.pyc
Scripts/__pycache__/transmission_count.cpython-313.pyc
Scripts/baltic.py
Scripts/json_to_nexus.py
transmissionCount.py
*.pyc
colombia_removal_yield_summary.csv
north_south_counts_beast.csv
north_south_counts_full.csv
